
:root {
   /* SINTAXIS --variable: valor; */
   --background-blanco: #FFFFFF;
   --background-llamada-mobile: #00161C;
   --background-azul-claro: #DFE3F5;
   --background-ceniza-claro: #F7F4F4;
   --background-ceniza-medio: #D9D9D9;

   --border-cabecera-mobile: #103D4A;

   --boton-rojo: #B72E2E;


   --fuente-ceniza-claro: #666666;
   --fuente-ceniza-oscuro: #4F4C4C;


   --planes-card-start: #035A76;
   --planes-card-ultra: #690F8E;
   --planes-card-mega: #B00024;


   --fuente-enlace: #0006FF;


   --background-footer: #333333;

   --opensans: 'Open Sans', sans-serif;
   --montserrat: 'Montserrat', serif;
}

/* !GENERALES */

body {
   font-family: var(--opensans);
}

.container {
   padding-right: 6%;
   padding-left: 6%;
}

.boton {
   text-align: center;
   display: block;
   width: 100%;
   max-width: 350px;
   box-sizing: border-box;
   border: 1px solid var(--boton-rojo);
   border-radius: 5px;
   padding: 0.7rem;
}

/* !ENCABEZADO */

.head {
   color: var(--background-blanco);

   width: 100%;

   box-sizing: border-box;

   display: flex;
   flex-direction: column;
   align-items: center;

   padding-top: .75rem;
   padding-bottom: .75rem;

   /* border-bottom: 1px solid #103D4A; */

   position: absolute;
}

.head-logo {
   margin-bottom: 1rem;
}

.head-navegacion {
   text-align: center;
}

.head-enlace {
   font-size: 1.1rem;

   display: inline-block;

   margin-right: 0.7rem;
   margin-bottom: 0.7rem;
   margin-left: 0.7rem;
}

/* !CUERPO PRINCIPAL */

.llamada {
   display: flex;
   flex-direction: column;
   align-items: center;

   color: var(--background-blanco);
   text-align: center;

   background-color: var(--background-llamada-mobile);

   padding-top: 12.25rem;
   padding-bottom: 2.5rem;
}

.llamada-titulo {
   font-family: var(--montserrat);
   font-size: 2rem;
   font-weight: 700;
   text-transform: uppercase;

   margin-bottom: 1.5rem;
}

.llamada-texto {
   font-size: 1.25rem;
   line-height: normal;

   margin: 0 auto 2.5rem;
}

.llamada-boton {
   width: 100%;
}

/* !DESTACADOS */

.destacados {
   background-color: var(--background-azul-claro);
   padding-top: 2.5rem;
   padding-bottom: 2rem;
}

.destacados-titulo {
   color: var(--fuente-ceniza-oscuro);
   font-weight: 700;
   font-size: 1.5rem;
   font-family: var(--montserrat);
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 2rem;
}

.destacados-panel {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 2rem;
}

.destacados-panel-imagen {
   width: 100vw;
   /* tamaño maximo de la imagen en el layout responsive */
   max-width: 600px; 
   box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.5);
   margin-bottom: 0.5rem;
} 

.destacados-panel-texto {
   font-weight: 700;
   font-size: 1.2rem;
   line-height: normal;
}

.destacados-boton {
   color: var(--boton-rojo);
   border-color: var(--boton-rojo);
   margin: 0 auto;
}

/* !DIFERENCIALES */

.diferenciales {
   padding-top: 3.5rem;
   padding-bottom: 3.5rem;
}

.diferenciales__lista {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.diferenciales__item {
   max-width: 350px;
   box-sizing: border-box;
   padding: 2rem 0 2rem 5rem;

   background-repeat: no-repeat;
   background-position: top 1.25rem left 2.5rem;
}

.item__titulo {
   color: var(--fuente-ceniza-oscuro);
   font-weight: 700;
   font-size: 1.2rem;
   text-transform: uppercase;
   margin-bottom: 1.5rem;
}

.item__texto {
   line-height: normal;
}

.item-reloj {
   background-image: url(../img/icono-reloj.png);
}

.item-dinero {
   background-image: url(../img/icono-dinero.png);
}

.item-quimica {
   background-image: url(../img/icono-quimica.png);
}

/* !SOBRE NOSOTROS */

.sobre-nosotros {
   padding-top: 3rem;
   padding-bottom: 3rem;
}

.sobre_nosotros__titulo {
   color: var(--fuente-ceniza-oscuro);
   font-weight: 700;
   font-size: 1.5rem;
   font-family: var(--montserrat);
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 1.25rem;
}

.sobre_nosotros__texto {
   line-height: normal;
   margin-bottom: 1rem;
}

.sobre_nosotros__plataformas {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin-bottom: 1rem;
}

.sobre-nosotros {
   color: var(--fuente-ceniza-oscuro);
   font-weight: 700;
}

/* !PLANES */

.planes {
   background-color: var(--background-ceniza-claro);
   
   padding-top: 3rem;
   padding-bottom: 3rem;
}

.planes__titulo {
   color: var(--fuente-ceniza-oscuro);
   font-weight: 700;
   font-size: 1.5rem;
   font-family: var(--montserrat);
   text-transform: uppercase;
   text-align: center;

   margin-bottom: 1.25rem;
}

.planes__tarjetas {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.tarjetas {
   display: flex;
   flex-direction: column;

   background-color: var(--background-blanco);

   width: 100%;
   max-width: 300px;

   margin-bottom: 2rem;

   border-radius: 5px;
   box-shadow: 0 2px 10px 2px #00000010;
}

.tarjetas__titulo {
   font-weight: 700;
   font-size: 1.5rem;
   text-align: center;

   padding: .75rem 0;

   margin-bottom: .5rem;

   border-bottom: 1px solid var(--background-azul-claro);
}

.tarjetas__contenido {
   padding: 0 15%;
}

.tarjetas__precio {
   font-weight: 700;
   font-size: 3rem;
   text-align: center;

   margin-top: 1.25rem;
   margin-bottom: 1.25rem;
}

.tarjetas__texto {
   color: var(--fuente-ceniza-claro);
   line-height: 28px;
}

.tarjetas__boton {
   font-size: 1.2rem;
   font-weight: 700;

   width: 100%;

   align-self: center;

   padding: .75rem 2rem;

   margin-top: 1rem;
   margin-bottom: 1rem;
}

.tarjetas--start {
   color: var(--planes-card-start);
}

.tarjetas--ultra {
   color: var(--planes-card-ultra);
}

.tarjetas--mega {
   color: var(--planes-card-mega);
}

.tarjetas__boton--start {
   border-color: var(--planes-card-start);
}

.tarjetas__boton--ultra {
   border-color: var(--planes-card-ultra);
}

.tarjetas__boton--mega {
   border-color: var(--planes-card-mega);
}

/* !CONTACTO */

.contacto {
   display: flex;
   flex-direction: column;
   align-items: center;

   text-align: center;

   padding-top: 2rem;
   padding-bottom: 2rem;
}

.contacto__titulo {
   color: var(--fuente-ceniza-oscuro);
   font-weight: 700;
   font-size: 1.5rem;
   font-family: var(--montserrat);
   text-transform: uppercase;
   text-align: center;

   margin-bottom: 1.25rem;
}

.contacto__boton {
   color: var(--boton-rojo);
   border-color: var(--boton-rojo);
   margin-top: 1.25rem;

}

/* !INSTITUCIONAL */

.institucional {
   display: flex;
   flex-direction: column;
   align-items: center;

   color: var(--fuente-ceniza-oscuro);
   text-align: center;

   padding-top: 2rem;
   padding-bottom: 2rem;
}

.institucional__titulo {
   color: var(--fuente-ceniza-oscuro);
   font-weight: 700;
   font-size: 1.5rem;
   font-family: var(--montserrat);
   text-transform: uppercase;
   text-align: center;

   margin-bottom: 2rem;
}

.institucional__descripcion {
   margin-bottom: 2rem;
}

.institucional__direccion {
   font-size: 1.5rem;
   line-height: normal;

   margin-bottom: 2rem;
}

.institucional__contacto {
   font-size: 1.2rem;
   line-height: 1.8;

   margin-top: 2rem;
}

.institucional__contacto-telefono {
   line-height: normal;
}

.institucional__contacto-email {
   color: var(--fuente-ceniza-oscuro);
   text-decoration: underline;
   display: block;
}

.institucional__video {
   width: 100vw;
}
